<div class="container">
    <div class="row">
        <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
            <h3 class="text-center text-theme-primary">{{formStatus}} categories</h3>
            <p class="text-center mb-5">You can {{formStatus}} categories from here ..!</p>

            <form class="d-flex justify-content-center mb-5" #categoryForm='ngForm' (ngSubmit)="onSubmit(categoryForm)">

                <div class="form-group col-md-4 mt-3">
                    <input type="text" name="category" class="form-control shadow-effect"
                        placeholder="Add New Categories" #category="ngModel" [(ngModel)]="formCategory"
                        [ngClass]="{'is-invalid': category.touched && category.invalid}" required>
                    <p class="text-danger mb-2" *ngIf="category.touched && category.invalid"> Category field is required
                    </p>
                </div>

                <div class="col-md-2">
                    <button class="btn btn-info btn-block btn-theme" [disabled]="categoryForm.invalid"> {{formStatus}} Category
                    </button>
                </div>

            </form>

            <div class="text-center">
                <button class="btn btn-warning btn-css ml-2" routerLink="/dashboard">Back to Dashboard</button>
            </div>

        </div>
    </div>

    <div class="row mt-5 mb-5">

        <div class="col-md-3"></div>

        <div class="col-md-6">
            <div class="card shadow-effect">
                <div class="card-body">
                    <table class="table row-border hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Category</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of categoryArray; let i = index">
                                <td>{{ i+1 }}</td>
                                <td>{{ category.data.category }}</td>
                                <td>
                                    <button class="btn btn-sm btn-warning" (click)="onEdit(category.data.category, category.id)"> Edit </button>
                                    <button class="btn btn-sm btn-danger" (click)="onDelete(category.id)"> Delete </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-3"></div>

    </div>

</div>