<!-- <app-category-navbar></app-category-navbar> -->

<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white"> Featured Post </h2>
                <p class="text-white"> Here You can see Featured Posts. </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3" *ngFor="let featuredPost of featuredPostArray">
                <app-post-card [postData]="featuredPost"></app-post-card>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2> Latest Posts </h2>
        <p> Here You can see Latest Posts. </p>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3" *ngFor="let latestPost of latestPostArray">
            <app-post-card [postData]="latestPost"></app-post-card>
        </div>
    </div>
</section>

<div class="container mt-5 mb-5">
    <div class=" ma row">
        <app-subscription-form></app-subscription-form>
    </div>
</div>