<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/18660224/pexels-photo-18660224/free-photo-of-aerial-view-of-mountains-covered-in-forest-in-autumnal-colors.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center"> Design </small>
                    <small class="bg-light text-success text-center ml-3"> Feature </small>
                    <small class="bg-light text-info text-center ml-3"> Views - 211,254</small>
                    <small class="bg-light text-warning text-center ml-3"> LAST UPDATED - NOV 27, 2023</small>

                    <h1 class="mt-3 mb-3"> HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY </h1>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, iusto? Commodi maiores, quod
                        facilis sit reiciendis atque fugit optio ad cum, recusandae aut sed eligendi, obcaecati
                        voluptate amet odio? Dicta?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui cumque nesciunt pariatur debitis
                        facere deserunt officiis ad praesentium suscipit modi ipsum officia aliquam et saepe iste esse,
                        cum optio molestiae!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto recusandae dignissimos,
                        culpa ipsa sapiente molestias? Vitae voluptatibus, eos quas voluptate nulla similique nam dolor
                        quia? Ratione ipsam quod recusandae veniam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam reiciendis necessitatibus
                        laudantium in, minima provident sint sunt. Tempora officiis ipsum nostrum beatae, architecto,
                        atque consectetur, velit reprehenderit sunt ipsa labore.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae corporis rerum dolorum magni
                        quos. Sit, velit corporis hic adipisci aspernatur perferendis ullam omnis voluptatum
                        exercitationem ad necessitatibus inventore quae officiis.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quibusdam quas non, neque natus
                        harum, quia quod saepe doloribus aut enim fugiat modi aliquid, mollitia placeat reprehenderit
                        debitis velit quis?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, recusandae
                        rem veniam fugit enim possimus nisi ut voluptate ipsam quaerat asperiores quisquam explicabo.
                        Eum obcaecati magni in adipisci, vero nisi.
                    </p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>

        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>