<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">

                <div class="site-logo">
                    ANG-BLOG
                    <div class="mt-2">
                        <div>
                            <a class="text-theme-primary" routerLink="about-us">About-Us</a>
            
                            <a class="text-theme-primary tc" routerLink="term-and-condition">Terms & Conditions</a>
                        </div>
                    </div>
                </div>


                <p class="mb-2 mt-1">Copyright © 2024 Angular Blogsite</p>

            </div>
        </div>
    </div>
</footer>